<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148500074078-rfmcko4v6b0uepu493g6irbfbbqm4vjp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148500074078-rfmcko4v6b0uepu493g6irbfbbqm4vjp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>148500074078-me8qh5o6bclajnk21n5nv0c4422o2t43.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAK0xW4IQ6ITwZmGo0TnKUZgTMo-2olQc0</string>
	<key>GCM_SENDER_ID</key>
	<string>148500074078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fic12FlutterStarter</string>
	<key>PROJECT_ID</key>
	<string>prakflutterfirebase-4a624</string>
	<key>STORAGE_BUCKET</key>
	<string>prakflutterfirebase-4a624.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148500074078:ios:13a6eca3ae4aa4ca7beecf</string>
</dict>
</plist>